<div class="row">
	<div class="col s12">
		<div class="card white">
			<div class="card-content">
				<span class="card-title grey-text text-darken-3">Report #{{ report.attributes.id }}</span>
				<p class="grey-text text-darken-3">Latitude: {{ report.attributes.latitude }}</p>
				<p class="grey-text text-darken-3">Longitude: {{ report.attributes.longitude }}</p>
				<p class="grey-text text-darken-3">Submitted by: <a href="/admin/users/{{ submitter.attributes.id }}" title="View User">{{ submitter.attributes.username }}</a></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<div class="card white">
			<div class="card-content blue-text center-align">
				<span class="card-title blue-text center-align">Actions</span>
				<div class="row center-align">
					<a href="/reports/{{ report.id }}/quality/" class="btn blue" title="New Quality Report">Mark Quality</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<div class="card white">
			<div class="card-content blue-text">
				<div id="map" style="height: 500px;"></div>
				<script>
					var map;
					var loc = {
						lat: Number({{ report.attributes.latitude }}),
						lng: Number({{ report.attributes.longitude }})
					};
					function initMap() {
						map = new google.maps.Map(document.getElementById('map'), {
							center: loc,
							zoom: 12
						});

						new google.maps.Marker({
							position: {
								lat: Number({{ report.attributes.latitude }}),
								lng: Number({{ report.attributes.longitude }})
							},
							map: map
						});
					}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1nBw64laQoFbrEcjNvm-mLcSCZtSi2BI&callback=initMap" async defer></script>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<div class="card white">
			<div class="card-content">
				<span class="card-title grey-text text-darken-3">Quality Reports</span>
				{{#if qualities}}
					<div class="row">
						<div class="col m5">Condition</div>
						<div class="col m2">Virus PPM</div>
						<div class="col m2">Contaminant PPM</div>
						<div class="col m3">Created</div>
					</div>
					{{#qualities}}
					<div class="row">
						<div class="col m5">{{ this.attributes.condition }}</div>
						{{#if this.attributes.virusPPM}}
						<div class="col m2">{{ this.attributes.virusPPM }}</div>
						{{else}}
						<div class="col m2"><i>Not Marked</i></div>
						{{/if}}
						{{#if this.attributes.contaminantPPM }}
						<div class="col m2">{{ this.attributes.contaminantPPM }}</div>
						{{else}}
						<div class="col m2"><i>Not Marked</i></div>
						{{/if}}
						<div class="col m3">{{ this.attributes.created_at }}</div>
					</div>
					{{/qualities}}
				{{ else }}
				<p class="grey-text text-darken-3 center-align">There are no quality reports for this water report</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>